{% extends 'base.html.twig' %}

{% block body %}
    <div class = "jumbotron">
  <h3 class = "display-4">
     <font style = "vertical-align: inherit;">
        <font style = "vertical-align: inherit;">
           <center><b> <u><i>A propos de moi et du contenu</i></u></b></center>
        </font>
     </font>
  </h3>
  <br>
  <br>
  <p class = "lead">
    <font style = "vertical-align: inherit;">
      <font style = "vertical-align: inherit;">
        <p>BONJOUR!!!<br>Je me preseente c'est <b>Mouhamadou Lamine SANE</b> je suis un jeune étudiant et developpeur en informatique en deuxieme année d'etude .<br>
        Je suis un passionné de la programmation surtout web et c'est dans cet élan que j'ai eu à developper cette application web dans le cadre d'un projet de fin d'année portant sur la<b><u>Gestion des Reclamations pour notes etudiants </u></b>.
        </p> 
      </font>
    </font>
  </p>
  <hr class = "my-4">
  <p class ="lead">
    <font style = "vertical-align: inherit;">
      <font style = "vertical-align: inherit;">
        La technologie utilisée dans cette Application Web est principalement le Framework PHP <b>Symfony</b> qui nous a permis de travailler sur le Back-End du projet et de twig qui est un language intégré dans symfony qui permet de gérer le Front-End avec un peu de Boostrap aussi.<br>.
        Pour la <b>Base de donnée</b> on a eu à utiliser le Systeme de Gestion de Base de Donnée <b>MySQL</b> pour la gestion de tables.   
      </font>
    </font>
  </p> 
 
  <p class = "lead">
    <a class="btn btn-primary btn-lg" href="/login" role="button">
      <font style = "vertical-align: inherit;">
         <font style = "vertical-align: inherit;">
            CONNEXION
         </font>
      </font>
    </a>
  </p>
</div>
{% endblock %}