{% extends 'base.html.twig'%}


{% block body%}
<div class = "jumbotron">
  <h1 class = "display-3">
     <font style = "vertical-align: inherit;">
        <font style = "vertical-align: inherit;">
            Bienvenue dans notre assistance-web-reclamation !
        </font>
     </font>
  </h1>
  <br>
  <br>
  <p class = "lead">
    <font style = "vertical-align: inherit;">
      <font style = "vertical-align: inherit;">
         Cette application web est une innovation technologique oeuvrant pour la reclamation des notes des etudiants suites aux deliberations des semestres.<br>
         Elle a pour but d'informatiser une partie du sytéme en limitant les queues,les depots non enregistrer ou sans reponses et meme les pertes de papiers en passant au numerique.    
      </font>
    </font>
  </p>
  <hr class = "my-4">
  <p class ="lead">
    <font style = "vertical-align: inherit;">
      <font style = "vertical-align: inherit;">
         Il utilise des classes utilitaires pour la typographie et l'espacement pour espacer le contenu dans le plus grand conteneur. 
      </font>
    </font>
  </p> 
 
  <p class = "lead">
    <a class="btn btn-primary btn-lg" href="/login" role="button">
      <font style = "vertical-align: inherit;">
         <font style = "vertical-align: inherit;">
            CONNEXION
         </font>
      </font>
    </a>
  </p>
</div>
{% endblock %}



